.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px dashed red;
    justify-content: space-around;
    margin-left: -230px;
    padding: 8px;
    background-color: white;
   
}
.head{
    
    font-variant: small-caps;
}
.items li{
    text-decoration: none;
    list-style-type: none;
}
.items img{
    border-radius: 30%;
}
@media  screen and (max-width:574px) {
    .items{
        display: grid;
      grid-template-columns: auto,auto;
    
        border: 1px dashed red;
        margin-left: -30px;
        height: 30vh;
        position: relative;
        padding-left: 122px;
        z-index: -1;
        
       
    }
    .items img{
        position: absolute;
        left: 0;
        
    }
    
    
}