
.home{
  
    position: relative;
    z-index: -1;
}
.buttons{
    position: absolute;
    top: 400px;
    left: 200px;
    cursor: pointer;
}
.back{
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
.heading h2{
    font-size: 50px;
}
.heading{
   padding-top: 20px;
   font-variant: small-caps;
   font-size: 30px;
   margin: 10px;
   color: rgb(210, 165, 30);
   position: absolute;
   left: 50px;
   top: 150px;
   
}
.heading h2 p{
    color: rgb(168, 172, 168);
}
.photos{
    position: absolute;
    right: 25px;
    top:100px;
    border-radius: 50%;
    margin: 12px;
    height: 500px;
    width: 500px;
   
    box-shadow:inset;
    border: 1px solid wheat;
}
@media screen and (max-width:574px) {
    
    .heading{
        padding-top: 20px;
        font-variant: small-caps;
        font-size: 20px;
        padding: 20px;
        position: relative;
        position: absolute;
        right: 30px;
        top: 10px;
        text-align: center;
        align-items: center;
       
     }
     .heading h2{
        font-size: 30px;
    }
     .buttons{
        position: absolute;
        top: 530px;
        left: 180px;
        cursor: pointer;
     
    }
     .photos{
        
        position: absolute;
        align-items: center;
        top:200px;
        border-radius: 50%;
      transform: translate(-10%);
        height: 300px;
        width: 300px;
      
    }
    .home{
        z-index: -1;
        
    }
    .back{
        background-position: center;
        background-size: cover;
        height: 70vh;
        width: 100%;
        
    }
    
}